---
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
import OurTeam from "../components/AboutUs/OurTeam.astro";

import summary from "../data/summary";

const contact = summary.contact;
const social = summary.social;
---

<Layout title="Welcome to Astro.">
  <div class="container">
    <!-- Contact Info -->
    <h2>Contact Me</h2>
    {
      contact && (
        <div>
          {contact.email && (
            <div class="contact_wrapper">
              <>
                <strong>Email:</strong>
                <a href={`mailto:${contact.email}`}>{contact.email}</a>
              </>
            </div>
          )}
          {contact.phone && (
            <div class="contact_wrapper">
              <>
                <strong>Phone:</strong>
                <a href={`tel:${contact.phone}`}>{contact.phone}</a>
              </>
            </div>
          )}
        </div>
      )
    }

    <!-- Social Media -->
    {
      social && (
        <div>
          <h2>Social Media</h2>
          <div class="socials_wrapper">
            {social.linkedin && (
              <div class="contact_wrapper">
                <Icon name="linkedin" size={32} />
                <strong>LinkedIn:</strong>
                <a href={social.linkedin.url}>{social.linkedin.url}</a>
              </div>
            )}
            {social.twitter && (
              <div class="contact_wrapper">
                <Icon name="twitter-x" size={32} />
                <strong>Twitter:</strong>
                <a href={social.twitter.url}>{social.twitter.url}</a>
              </div>
            )}
            {social.instagram && (
              <div class="contact_wrapper">
                <Icon name="instagram" size={32} />
                <strong>instagram:</strong>
                <a href={social.instagram.url}>{social.instagram.url}</a>
              </div>
            )}
          </div>
        </div>
      )
    }
  </div>
</Layout>

<style>
  .endorsement-text {
    font-style: italic;
  }

  .socials_wrapper {
    display: flex;
    gap: var(--spacing-sm);
    flex-direction: column;
  }

  .contact_wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    justify-content: start;
    align-items: center;
  }

  /* This just makes it so they look lined up, more like a grid. */
  .contact_wrapper > strong {
    min-width: 10ch;
  }
</style>
