---
import style from "./Header.module.css";
import DesktopNav from "./DesktopNav/DesktopNav.astro";
import MobileNav from "./MobileNav/MobileNav.astro";
import Button from "../Button.astro";

import { getCollection, getEntry } from 'astro:content';
const content = await getCollection('projects');

interface Props {
  siteName: string;
  showSiteName?: boolean;
  logo?: string | undefined;
}

const { siteName, logo, showSiteName = true } = Astro.props;

type menuOptionsType = {
  title: string;
  path: string;
  badge?: true;
  children?: menuOptionsType[];
};

const menuOptions: menuOptionsType[] = [
	{
		title: "Home",
		path: "/",
	},
	{
		title: 'Blog',
		path: `/blog/page-1`
	},
	{
		title: "Projects",
		path: "/",
		children: content.map(entry => {
			return {
				title: entry.data.title,
				path: `/projects/${entry.data.title.toLowerCase()}`,
			}
		})
	},
	{
		title: "About",
		path: "/",
		children: [
			{
				title: "About me",
				path: "/about-me",
			},
			{
				title: "Contact me",
				path: "/contact-me",
			},
		],
	},
];
---

<header class={style.container}>
  <a class={style.letterhead} href="/">
    {
      logo != undefined && (
        <>
          <img src={logo} alt="" />
          {showSiteName && <div>{siteName}</div>}
        </>
      )
    }
    {logo == undefined && <div>{siteName}</div>}
  </a>
  <DesktopNav menuOptions={menuOptions} />
  <div class="mobile-hidden">
    <Button colour="accent" hideBorder>
      <a href="tel:15878963349" class="mobile-hidden contact">1.587.896.3349</a>
    </Button>
  </div>
  <MobileNav menuOptions={menuOptions} />
</header>

<style>
	.contact {
		color: black;
		text-decoration: none;
	}

	svg {
		width: 48px;
		height: auto;
	}

  @media only screen and (min-width: 1024px) {
      header {
      height: var(--header-height);
    }
  }
</style>
