---
import summary from "../data/summary";
import Icon from "astro-icon";

const contact: any = summary.contact;

interface contactType {
  phone?: string;
  email?: string;
}
---

<div>
  {contact && <h3>Contact Info</h3>}
  {
    contact && (
      <div class="contact-flex-column">
        {contact.email && (
          <div class="contact_wrapper">
            <>
              <a href={`mailto:${contact.email}`}>
                <Icon name="mail" size={24} />
                <strong>Email</strong>
              </a>
            </>
          </div>
        )}
        {contact.phone && (
          <div class="contact_wrapper">
            <>
              <a href={`tel:${contact.phone}`}>
                <Icon name="phone" size={24} />
                <strong>{contact.phone}</strong>
              </a>
            </>
          </div>
        )}
        {contact.github && (
          <div class="contact_wrapper">
            <>
              <a href={contact.github}>
                <Icon name="github" size={24} />
                <strong>Github</strong>
              </a>
            </>
          </div>
        )}
        {contact.resume && (
          <div class="contact_wrapper">
            <>
              <a href={contact.resume}>
                <Icon name="resume" size={24} />
                <strong>My Resume</strong>
              </a>
            </>
          </div>
        )}
      </div>
    )
  }
</div>

<style>
  .contact-flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    align-items: center;
  }

  a > svg {
    color: var(--primary);
  }

  .contact_wrapper {
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
  }

  .contact_wrapper > svg {
    color: var(--primary);
  }
</style>
